<% if notice %>
    <div class="alert alert-success" role="alert">
        <strong><%= notice %></strong>
    </div>
<% end %>


<h1>Użytkownicy grupy </h1>
<h3><%= @group.name %></h3>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Użytkownik</th>
      <th>Admin?</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><b><%= membership.user.email %></b></td>
        <td>
          <% if policy(@group).admin? %>
            <% if membership.admin %>
              <%= link_to 'TAK', group_membership_remove_admin_path(@group, membership.id), method: :post, class: 'btn btn-success', data: { confirm: 'Usunąć uprawnienia?' } %>
            <% else %>
              <%= link_to 'NIE', group_membership_set_admin_path(@group, membership.id), method: :post, class: 'btn btn-danger', data: { confirm: 'Nadać uprawnienia?' } %>
            <% end %>
          <% else %>
            <% if membership.admin %>
              <%= button_tag 'TAK', disabled: true, class: 'btn btn-success' %>
            <% else %>
              <%= button_tag 'NIE', disabled: true, class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if policy(@group).admin? %>
            <%= link_to 'Usuń', group_membership_path(@group, membership.id), method: :delete, class: 'btn btn-danger', data: { confirm: 'Czy jesteś pewien?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<% if policy(@group).admin? %>
  <%= link_to 'Dodaj użytkowników', new_group_membership_path(@group), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Powróć', @group, class: 'btn btn-default' %>
