<h1>Dodaj użytkowników</h1>

<%= form_tag group_memberships_path(@group), method: :post do %>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Użytkownik</th>
            </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td>
                        <input id="user_<%= user.id %>" type="checkbox" name="user_ids[]" value="<%= user.id %>">
                        <label for="user_<%= user.id %>"><%= user.email %></label>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="actions">
        <%= submit_tag "Dodaj", class: 'btn btn-success' %>
        <%= link_to 'Idź dalej', group_memberships_path(@group), class: 'btn btn-default' %>
    </div>
<% end %>
