<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <% @group.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nazwa grupy" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Krótki opis" %><br>
    <%= f.text_area :description, class: 'form-control', cols: "30", rows: "10" %>
  </div>
  <div class="actions">
    <%= f.submit "Potwierdź", class: 'btn btn-success' %>
    <%= link_to 'Powróć', groups_path, class: 'btn btn-default' %>
  </div>
<% end %>
