<% if notice %>
    <div class="alert alert-success" role="alert">
        <strong><%= notice %></strong>
    </div>
<% end %>
<h1>Lista grup</h1>


<table class="table table-striped">

  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><b><%= group.name %></b></td>
        <td><%= truncate group.description, length: 100 %></td>
        <td>
          <% if policy(group).user? %>
            <%= link_to 'Pokaż', group, class: 'btn btn-success' %></td>
          <% end %>
        </td>
        <td>
          <% if policy(group).admin? %>
            <%= link_to 'Edytuj', edit_group_path(group), class: 'btn btn-info' %>
          <% end %>
        </td>
        <td>
          <% if policy(group).admin? %>
            <%= link_to 'Usuń', group, method: :delete, class: 'btn btn-danger', data: { confirm: 'Czy jesteś pewien?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'Nowa grupa', new_group_path, class: 'btn btn-primary' %>
