<% if notice %>
    <div class="alert alert-success" role="alert">
        <strong><%= notice %></strong>
    </div>
<% end %>

<h2><%= @group.name %></h2>
<p><%= @group.description %></p>

<div>
    <%= link_to 'Dodaj zamówienie', new_group_order_path(@group), class: 'btn btn-success' %>
</div>

<% if @orders.any? %>
    <table class="table table-striped">

      <thead>
        <tr>
          <th>Restauracja</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><strong><%= order.restaurant.name %></strong></td>
          </tr>
        <% end %>
      </tbody>

    </table>
<% end %>

<div style="margin-top: 10px;">
<%= link_to 'Lista użytkowników', group_memberships_path(@group), class: 'btn btn-success' %>
<%= link_to 'Edytuj', edit_group_path(@group), class: 'btn btn-primary' %>
<%= link_to 'Powróć', groups_path, class: 'btn btn-default' %>
</div>
