<%= form_for [@group, @order] do |f| %>
  <% if @group.errors.any? %>
    <% @group.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Restauracja" %><br>
    <%= f.select :restaurant_id, @restuarants.collect { |r| [ r.name, r.id ]} %>
  </div>
  <div class="actions">
    <%= f.submit "Potwierdź", class: 'btn btn-success' %>
    <%= link_to 'Powróć', @group, class: 'btn btn-default' %>
  </div>
<% end %>
