<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <% @restaurant.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nazwa restauracji" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Krótki opis' %><br>
    <%= f.text_area :description, class: 'form-control', cols: "30", rows: "10" %>
  </div>
  <div class="form-group">
    <%= f.label :menu_url, 'Url do menu' %><br>
    <%= f.text_field :menu_url, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Potwierdź", class: 'btn btn-success' %>
    <%= link_to 'Powróć', restaurants_path, class: 'btn btn-default' %>
  </div>
<% end %>
