<% if notice %>
    <div class="alert alert-success" role="alert">
        <strong><%= notice %></strong>
    </div>
<% end %>
<h1>Lista restauracji</h1>


<table class="table table-striped">

  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Link do menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><b><%= restaurant.name %></b></td>
        <td><%= truncate restaurant.description, length: 100 %></td>
        <td>
          <% if restaurant.menu_url %>
            <%= link_to "Klik", restaurant.menu_url, class: 'btn btn-primary' %>
          <% end %>
        </td>
        <td><%= link_to 'Pokaż', restaurant, class: 'btn btn-success' %></td>
        <td>
          <% if policy(restaurant).admin? %>
            <%= link_to 'Edytuj', edit_restaurant_path(restaurant), class: 'btn btn-info' %>
          <% end %>
        </td>
        <td>
          <% if policy(restaurant).admin? %>
            <%= link_to 'Usuń', restaurant, method: :delete, class: 'btn btn-danger', data: { confirm: 'Czy jesteś pewien?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nowa restauracja', new_restaurant_path, class: 'btn btn-primary' %>
