<% if notice %>
    <div class="alert alert-success" role="alert">
        <strong><%= notice %></strong>
    </div>
<% end %>

<h2><%= @restaurant.name %> <%= link_to "Menu", @restaurant.menu_url, class: 'btn btn-primary' %></h2>

<p>
  <%= @restaurant.description %>
</p>


<%= link_to 'Edytuj', edit_restaurant_path(@restaurant), class: 'btn btn-primary' %>
<%= link_to 'Powróć', restaurants_path, class: 'btn btn-default' %>
