<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order_item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_item.price %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
